{% extends "layouts/base.twig" %}

{% block content %}

    <div class="container mx-auto">
        <div class="text-center mt-6">
            <h1 class="text-5xl">MiniPHP</h1>
        </div>
        <p>MiniPHP is a PHP micro framework that helps you quickly write simple yet powerful web applications and
            APIs.
            At its core, MiniPHP is a dispatcher that receives an HTTP request, invokes an appropriate callback
            routine,
            and returns an HTTP response. That’s it.</p>
    </div>

{% endblock %}